/* Base Application Styles */
* {
    box-sizing: border-box;
}

body {
  color: #fff;
  background: #222;
}

#app-content {
    width: 100%;
    padding: 0 10vw;
}

#side-panel {
    display: inline-block;
    width: 30%;
}

.main-section {
    display: inline-block;
    width: 70%;
}

